body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 200;
}

h1 {
}

ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.build-item {
  font-size: 2em;
  width: 870px;
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;
  padding: 5px;
}

.build-item .content {
  width: 200px;
}

.build-item .name {
  float: left;
  margin: 25px;
}

.build-item .success-rate {
  float: right;
  margin: 25px;
}

