body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 200;
}

h1 {
}

ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.build-item {
  font-size: 2em;
  max-width: 880px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;
  padding: 35px;
  text-align: center;
}

.build-item .name {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  width: 70%;
  margin: 5px;
}

.build-item .success-wrapper {
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
}

.build-item .success-rate {
  font-size: 2.4em;
}

.build-item .text {
  font-size: 0.6em;
}


