<!DOCTYPE>

<html>
  <head>
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="src/js/load_data.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/app.css">
  </head>
  <body>
    <h1>Dashboard</h1>
    <ol>
      {% for run in runs %}
      <li class="build-item">
      <div class="name">{{ run.id }}</div>
      <div class="success-wrapper">
        <div class="success-rate">{{ run.success_percentage() }}</div>
        <div class="text">success rate</div>
      </div>
      </li>
      {% endfor %}
    </ol>
  </body>
</html>

